@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@500&family=Rubik&family=Shantell+Sans:wght@300&family=Varela+Round&display=swap');

* {
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}